.App {
    text-align: center;
}

.App-header {

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);

}
body{
    background-color: #717171;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
form{

    max-width: 900px;
    margin: 100px auto 0;
    background: #f1f1f1;
    padding: 55px;
}

input{
    display: block;
    margin-bottom: 20px;
    width: 25rem;
    padding: 15px;
    font-size: 14px;
}
label{
    display: block;
    font-size: 20px;
    margin-bottom: 5px;
    text-align: justify;
}
button{
    font-size: 13px;
    padding: 10px 15px;
    cursor: pointer;
}